@charset "UTF-8";
::-webkit-scrollbar {
    display: none;
}
p {
    margin: 0;
}
.list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #a4eaff;
}
.ship-names {
    overflow: hidden;
}
.cost-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.resource-icons {
    padding: 0 3px 3px 3px;
    user-select: none;
}
.custom-damage {
    width: 40px;
}
#main-container {
    width: 720px;
    margin: auto;
    margin-top: 40px;
    text-align: end;
    padding-bottom: 450px;
}
#import {
    height: 27px;
    width: 30%;
}
#result-container {
    text-align: center;
}
#column-name-box {
    background-color: #e0f7fb;
    display: flex;
}
#other-container {
    text-align: left;
}
.column-names {
    cursor: default;
}