@charset "UTF-8";
::-webkit-scrollbar {
    display: none;
}
details {
    cursor: default;
}
#outer-container {
    background-color: #f5f7f8;
}
#main-container {
    width: 640px;
    background-color: #fff;
    margin: auto;
}
#upper-container {
    padding-top: 36px;
    align-items: center;
    justify-content: center;
}
#control-container {
    border-bottom: 2px solid #DBE0E5;
    justify-content: space-between;
    display: flex;
}
#quest-container {
    font-size: 15px;
}
.quest-block {
    display: flex;
    border-bottom: 1px solid #C0C0C0;
    height: 21px;
    overflow: hidden;
}
.quest-info {
    padding-left: 4px;
    flex: 2;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    border-right: 2px solid #DBE0E5;
    display: flex;
    user-select: none;
}
.quest-icon {
    height: 19px;
}
.sortie {
    background-color: #FFDDDD;
}
.senka {
    background-color: #f97674 !important;
}
.ex {
    background-color: #DDDDFF;
}
.mo-ex {
    font-weight: 600;
}
.columns {
    flex: 3;
    display: flex;
    background-color: #EEF5FF;
}
.column {
    text-align: center;
    flex: 1;
    max-width: 76px;
}
.indicate {
    margin: 0;
    text-align: center;
    cursor: default;
}
.ex-id {
    user-select: none;
    cursor: pointer;
}
.checks {
    margin: 0;
    cursor: pointer;
}
.check-box {
    margin: 0;
}
.form {
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 22px;
}
.rank {
    margin-left: 3px;
    user-select: none;
    width: 41px;
}
#other-container {
    padding-left: 210px;
    margin-bottom: 24px;
}
#ex-overlap {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #919191;
}
#ex-info {
    padding: 0 5px;
}
#share-mask {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
    position: fixed;
    opacity: 0.5;
    background-color: #000;
    display: none;
}
#share-container {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}
#share-inner {
    background-color: #fff;
    height: 400px;
    width: 320px;
    display: flex;
    flex-direction: column;
}
#url-box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 2;
}
#created-url {
    width: 240px;
    border: none;
    border-bottom: 1px solid #696969;
}
#created-url:focus {
    outline: none;
}
#copy-url {
    width: 22px;
    cursor: pointer;
}
#gap {
    display: flex;
    align-items: center;
    text-align: center;
}

#gap::before,
#gap::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: #c4c4c4; /* 線の色を指定 */
}

#gap::before {
    margin-left: 15px; /* テキストと左側の線の間隔 */
}

#gap::after {
    margin-right: 15px; /* テキストと右側の線の間隔 */
}
#or {
    margin: 0 18px;
}
#qrcode-box {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#custom-menu {
    font-size: 12px;
    padding: 0;
    border: 1px solid #2196F3;
    margin: 0 5px;
    width: 75px;
    position: fixed;
    background-color: #fff;
}
.ctxs {
    cursor: pointer;
    padding: 5px;
}
.ctxs:hover {
    background-color: #ebebeb;
}