@charset "UTF-8";
body {
    background-color: #e9f0f7;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: #ccc;
}
::-webkit-scrollbar-thumb{
    background-color: #A6A6A6;
}
.node-block {
    margin-bottom: 15px;
}
.title-box {
    background-color: #E5F6FD;
    height: 40px;
    display: flex;
    align-items: center;
}
.title-text {
    flex:20;
    padding-left: 10px;
    padding-top: 4px;
    font-weight: 600;
}
.link-box {
    flex:1;
    display: flex;
}
.link-icon {
    cursor: pointer;
    opacity: 0.6;
    user-select: none;
}
.link-icon:hover {
    background-color: #8bb4ce;
}
.branch-list {
    border-radius: 2px;
    width: 420px;
    font-size: 14px;
    margin-left: 3px;
    border: 1px solid #8098cd;
    padding: 4px;
}
.branch-list p {
    margin: 0;
}
.thumbnail {
    max-width: 650px;
    user-select: none;
}
#main-container {
    min-height: 1000px;
    padding: 50px 20px;
    width: 650px;
    background-color: white;
    margin: auto;
    height: auto;
}